<footer class="footer">
  <div class="footer--container">
    <div class="footer--title"></div>
    <div class="footer--info">
      <p class="footer--ubication">Montevideo, Uruguay</p>
      <p class="footer--number-contact">
        <a href="tel:+598 98648914" target="_blank">+(598) 098 648 914</a>
      </p>
      <p class="footer--contact-mail">
        <a href="mailto:info@modernapropiedades.uy" target="_blank"
          >info@modernapropiedades.uy</a
        >
      </p>
      <div class="footer--social-media">
        <a href="https://www.facebook.com/modernapropiedades" target="_blank">
          <div class="footer--fb"></div>
        </a>
        <a
          href="https://www.instagram.com/moderna_propiedades/"
          target="_blank"
        >
          <div class="footer--ig"></div>
        </a>
      </div>
    </div>
  </div>
  <div class="copyright"><p>Copyright © 2021 - Moderna Propiedades</p></div>
</footer>
