<div class="newsletter">
  <p>¿Quieres recibir novedades?</p>
  <div class="newsletter--form">
    <input type="email" name="" id="newsletter--input" placeholder="Email" />
    <div class="newsletter--btn">Enviar</div>
  </div>
</div>
